/*
    TODO: remove any and every unused CSS code
*/

:root {
    --primary-color: #262626;
    --accent-color: hotpink;
    --gradient-other: #00dbde;
}

body {
    background-image: linear-gradient(to bottom right, var(--gradient-other), var(--accent-color));
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}

section {
    background: var(--primary-color);
    border: 1px solid var(--accent-color);
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    max-width: 900px;
}

.features {
    color: var(--accent-color);
}

.features figure {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 150px;
    padding: 20px;
}

.features figure img {
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: gray 0 0 10px;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    color: wheat;
}

.details {
    background-color: var(--primary-color);
    color: white;
}

footer {
    background: var(--primary-color);
    color: beige;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.menu-bar {
    background: var(--primary-color);
    text-align: center;
    align-self: right;
    display: flex;
    -ms-flex-align: right;
    z-index: 10;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 100%;
    margin: 10px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.active,
.menu-bar ul li {
    background: var(--accent-color);
    border-radius: 10px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: var(--accent-color);
    border-radius: 10px;
    margin-top: 25px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #FFC0CB;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

h1 {
    color: var(--accent-color);
}

.center-content {
    display: table;
    margin: 0 auto;
}

a {
    color: var(--accent-color);
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: var(--accent-color);
    color: #fff;
    min-width: 50px;
    text-align: center;
}

.input-field {
    padding: 10px;
    outline: none;
    font-size: 15px;
}

.input-field:focus {
    border: 2px solid var(--accent-color);
}

.btn {
    background: var(--accent-color);
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 50px;
}

.flickity-page-dots.dot {
    @media only screen and(max-width: 991px) {
        .cell {
            width: 50%
        }
    }
}