<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"> {%block head%} {%endblock%}
</head>

<body>
    <div class="menu-bar sticky">
        <a href="/ ">
            <img src="{{url_for( 'static', filename='images/RC_White_Text.png' )}} " style="width:200px; padding:10px;">
        </a>
        <ul>
            <li>
                <a href="/login " class="active">Login</a>
            </li>
            <li>
                <a href="/register " class="active">Register</a>
            </li>
        </ul>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br> {%block body%} {%endblock%}
</body>

</html>