{%extends 'base.html'%} {%block head%} {%endblock%} {%block body%}

<br>
<section class="center-content">
    <form action="" method="POST">
        <br>
        <div align="center" style="font-size: 25px;">
            <h1>REQUEST<br>PASSWORD<br>CHANGE</h1>
        </div>
        <p>{{error_message}}</p>
        <div class="input-container">
            <i class="fa fa-user icon"> </i>
            <input class="input-field" name="username" type="text" id="username" placeholder="Username">
        </div>
        <div class="input-container">
            <i class="fa fa-envelope icon"> </i>
            <input class="input-field" name="email" type="email" id="email" placeholder="email">
        </div>
        <div align="center">
            <button type="submit" class="btn"> SEND EMAIL</button>
        </div>
    </form>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> {%endblock%}