{%extends 'base.html'%} {%block head%} {%endblock%} {%block body%}

<br>
<section class="center-content">
    <form method="POST">
        <br>
        <div align="center" style="font-size: 25px;">
            <h1>CHANGE <br>PASSWORD</h1>
        </div>
        <p>{{error_message}}</p>
        <div class="input-container">
            <i class="fa fa-key icon"> </i>
            <input class="input-field" name="new_password" type="password" id="new_password" placeholder="new password">
        </div>
        <div align="center">
            <button type="submit" class="btn"> Change</button>
        </div>
    </form>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> {%endblock%}