{%extends 'base.html'%} {%block head%}
<title>Alexandria</title>
{%endblock%} {%block body%}
<div style="margin:20px auto; max-width: 1000px;">
    {%for b in listing.get_recommendations().keys() %}
    <section>
        <h1>{{b}}</h1>
        <div class="main-carousel"> {%for c in listing.get_recommendations()[b]%}
            <div class="features ">
                <figure>
                    <a href="/information/{{c.id}} ">
                        <img src="{{ url_for( 'static', filename='images/Books/' + c.name + '.png' ) }} " alt="{{c.alttext}} ">
                    </a>
                </figure>
            </div>
            {% endfor %}
        </div>
    </section>

    {%endfor%}
</div>
{%endblock%}