{%extends 'base.html'%} {%block head%} {%endblock%} {%block body%} {%for category in listing %}

<div style="margin:20px auto; max-width: 1000px;">
    <section>
        <h1>{{category}}</h1>
        <div class="main-carousel"> {%for c in listing[category]%}
            <div class="features ">
                <figure>
                    <a href="/information/{{c.id}} ">
                        <img src="{{ url_for( 'static', filename='images/Books/' + c.name + '.png' ) }} " alt="{{c.alttext}} ">
                    </a>
                </figure>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{%endfor%} {%endblock%}