{%extends 'base.html'%} {%block head%}
<title>Alexandria</title>
{%endblock%} {%block body%}

<div style="margin:20px auto; max-width: 1000px;">

    <section>
        <table style="width:100%; padding: 20px;">
            <tr>
                <td style="font-size:40px; padding:-10px;border-collapse: collapse;">
                    <h1> {{listing.name}} </h1>
                </td>

                <td rowspan="10" valign="bottom">
                    <img src="{{ url_for( 'static', filename='images/' + listing.name + '.png' ) }}" alt="{{listing.alttext}} " style="object-fit: cover;width:250px; height: 375px; ">
                </td>
            </tr>
            <tr>
                <td valign="top " style="padding-right:50px " align="justify ">
                    <p>
                        Rating: {{listing.likes}}
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top " style="padding-right:50px " align="justify ">
                    <p>
                        Author: {% if listing.author|length%} {%for a in listing.get_author() %}
                        <a href="/information/{{a.id}}"> 
                            [{{a.name}}] 
                        </a> {%endfor%} {%else%} <i>UNKNOWN</i> {%endif%}
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top " style="padding-right:50px " align="justify ">
                    <p>Date Published: {{listing.date}} </p>
                </td>
            </tr>
            <tr>
                <td valign="top " style="padding-right:50px " align="justify ">
                    <p>{{listing.summary}} </p>
                </td>
            </tr>
        </table>
    </section>

    {% if listing.trivia is defined %}
    <section class="details ">
        <h1>TRIVIA</h1>
        <ul>
            {% for t in listing.trivia %}
            <li>
                {{t}}
            </li>
            {% endfor %}
        </ul>
    </section>
    {%endif%} {% if listing.related|length%}
    <section>
        <h1>RELATED</h1>
        <div class="main-carousel"> {%for b in listing.get_related() %}
            <div class="features">
                <figure>
                    <a href="/information/{{b.id}}">
                        <img src="{{ url_for( 'static', filename='images/' + b.name + '.png' ) }} " alt="{{b.alttext}} ">
                        <figcaption>{{b.name}}</figcaption>
                    </a>
                </figure>
            </div>
            {% endfor %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js">
        </script>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js">
        </script>
        <script>
            $(".main-carousel").flickity({
                cellAlign: 'left',
                wrapAround: true,
                freeScroll: true,
            });
        </script>
    </section>
    {%endif%}
</div>

<footer>
    <h2 size=40px>
        &#169; READER'S CONCLAVE - 2020
    </h2>
</footer> {%endblock%}