{%extends 'base.html'%} {%block head%}
<title>Alexandria</title>
{%endblock%} {%block body%}

<div style="margin:20px auto; max-width: 1000px;">
    <section>
        <div class="bookimage">
            <img src=" {{ url_for( 'static', filename='images/' + listing.name + '.png' ) }} " alt="{{listing.alttext}} " style="object-fit: cover;width:250px; height: 375px; ">
        </div>

        <h1> {{listing.name}} </h1>
        <p>
            Rating: {{listing.likes}}
        </p>
        <p>
            Author: {% if listing.author|length%} {%for a in listing.get_author() %}
            <a href="/information/{{a.id}} "> 
                            [{{a.name}}] 
                        </a> {%endfor%} {%else%} <i>UNKNOWN</i> {%endif%}
        </p>
        <p>Date Published: {{listing.date}} </p>
        <p>{{listing.summary}} </p>
    </section>

    {% if listing.trivia is defined %}

    <section class="details ">
        <h1>TRIVIA</h1>
        <ul>
            {% for t in listing.trivia %}
            <li>
                {{t}}
            </li>
            {% endfor %}
        </ul>
    </section>

    {%endif%} {% if listing.related|length%}
    <section>
        <h1>RELATED</h1>
        <div class="main-carousel "> {%for b in listing.get_related() %}
            <div class="features ">
                <figure>
                    <a href="/information/{{b.id}} ">
                        <img src="{{ url_for( 'static', filename='images/' + b.name + '.png' ) }} " alt="{{b.alttext}} ">
                    </a>
                </figure>
            </div>
            {% endfor %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js ">
        </script>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js ">
        </script>
        <script>
            $(".main-carousel ").flickity({
                pageDots: false
            });
        </script>
    </section>
    {%endif%}
    <section>
        <h1>Write a review!</h1>
        <div class="comment-input">
            <form>
                <img src="{{ url_for( 'static', filename='images/The Conquest of Bread.png' ) }} ">
                <textarea placeholder='Write a Review!'></textarea>
                <button> SUBMIT </button>
            </form>
        </div>
        <hr>
        <div class="card ">
            <img src="{{ url_for( 'static', filename='images/The Conquest of Bread.png' ) }} ">
            <h1>DaSerialGenius</h1>
            <comment> This book is good, I promise, please buy it, JK Rowling is not a transphobe I promise she didnt pay me!</comment>
        </div>

        <div class="card ">
            <img src="{{ url_for( 'static', filename='images/The Conquest of Bread.png' ) }} ">
            <h1>DaSerialGenius</h1>
            <comment> This book is good, I promise, please buy it, JK Rowling is not a transphobe I promise she didnt pay me!</comment>
        </div>
    </section>
</div>


<script src='plugin.js'></script>
<footer>
    <h2 size=40px>
        &#169; READER'S CONCLAVE - 2020
    </h2>
</footer> {%endblock%}