{%extends 'base.html'%} {%block head%}
<title>Alexandria</title>

<meta Http-Equiv="Cache-Control" Content="no-store"> {%endblock%} {%block body%}
<div style="margin:20px auto; max-width: 1000px;">
    <section class="profile">

        <form method="POST" enctype="multipart/form-data" style="float:right">
            <img src=" {{ url_for( 'static', filename='images/user_images/' + logged_user.username + '.png' ) }} " style="object-fit: cover;width:300px; height: 300px; border-radius: 100%; ">
            <br>
            <p>
                <input type="file" name="image" onchange="this.form.submit()">
            </p>
        </form> <br>
        <br> Username:
        <h1>{{logged_user.username}}</h1>
        <br> Email:
        <h1> {{logged_user.email}}</h1>
        <br>
        <br>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div> {%endblock%}