{%extends 'base.html'%} {%block head%}
<title>Reader's Conclave</title>
<meta name="viewport" content="width-device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"> {%endblock%} {%block body%}

<div style="margin:20px auto; max-width: 1000px;">
    <section align="center" style="vertical-align: center;">
        <br><br><br><br><br>
        <h1>FOLLOW US ON SOCIAL MEDIA</h1>
        <div class="social-media">
            <a href="https://www.instagram.com/happy_saint__/">Arundhati <br>Dhar <i class="fab fa-instagram" style="font-size:50px; float:left; margin:10px; transform:translateX(10px)"></i></a>
            <a href="https://www.instagram.com/thekoderr/">Abhinav Shrivastava<i class="fab fa-instagram" style="font-size:50px; float:left; margin:10px; transform:translateX(-5px)"></i></a>
            <a href="https://www.instagram.com/daserialgenius/">Tanuj Shrivastava<i class="fab fa-instagram" style="font-size:50px; float:left; margin:10px; transform:translateX(-5px)"></i></a>
            <a href="https://www.instagram.com/shubhamsinghthor/">Shubham<br> Singh<i class="fab fa-instagram" style="font-size:50px; float:left; margin:10px; transform:translateX(10px)"></i></a>
        </div>
    </section>

    <br><br><br><br><br>

    <br><br><br><br><br>
    <br><br><br><br><br>

    <br><br><br>
</div>{%endblock%}